/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
 /* Estilos para el modo claro */
 
/* Slide in desde la derecha cuando se entra */




.light-mode{
  --bg-color: white;
  --text-color: black;
  --bg-color-toggle:white;
  --navbar-off:white;
  --card-bf:black;
  --card-text:white;
  --btn-card:white;
  --btn-text-btn:black;
  --span-bg:white;
  --span-text:black;
  --time_line-bg:black;
  --dots-time_line:black;
  --time_line_content:black;
  --time_line-text:white;

}

/* Estilos para el modo oscuro */
.dark-mode{
  --bg-color: black;
  --text-color: white;
  --border-color-toggle:white;
  --bg-color-toggle:black;
  --navbar-off:white;
  --card-bf:white;
  --card-text:black;
  --btn-card:black;
  --btn-text-btn:white;
  --span-bg:black;
  --span-text:white;
  --time_line-bg:white;
  --dots-time_line:white;
  --time_line_content:white;
  --time_line-text:black;
}



/* Homepage */
/* Aplica las variables de color */
body, .light-mode, .dark-mode, .Navbar, .Nav.Link{
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  font-family: monospace;
  min-height: 100vh;
}



@media (min-width: 1024px) {
  /* home, navbar*/
  /*efectos */


  .fade-appear {
    opacity: 0.01;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

  
  .Navbarxd{
    justify-content: end;
    flex-grow: 1;
  }
  
  .button_ld{
    background-color: var(--bg-color);
    color: var(--text-color) !important;
    border: none !important;
  }
  .navbar-toggler{
    border-color: var(--navbar-off)!important;
    background-color: var(--border-color-toggle) !important;
  }
  
  .title_main{
    margin: auto;
    text-align: center ;
    margin-top: 200px;
    font-size: 40px;
  }
  .subtitle_main{
    margin: auto;
    text-align: center ;
    font-size: 35px;
    margin-top: -10px;
  }
  .list_icons_social_media{
    display: flex;
    justify-content: center;
    list-style: none;
    padding-inline: 10px;
    margin-top: 10px;
  }
  
  .Element_ul_li{
    padding-left: 10px;
    margin-right: 20px;
    font-size: 50px;
  }
  
  a, a:hover, a:visited, a:active {
    color: inherit ;
    text-decoration: none ;
    color: var(--text-color)!important;
  }
  /* About page */
  .Title_about{
    text-align: center ;
    margin-top: 50px;
  }
  .Text_about{
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
    max-width: 1024px;
    margin: auto;
  }

    /* Skill page */

  .Title_skill{
    text-align: center ;
    margin-top: 50px;
    font-size: 40px;
  }

  .Text_skill_description{
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    max-width: 600px;
    margin: auto;
  }
  .Lenguaje_title{
    text-align: center;
    margin-top: 20px;
  }


  .List_skills{
    margin-top: 50px !important;
    list-style-type: none; /* Quitar los puntos de la lista */
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
  }
  .List_skillsli{
    margin: 0 10px;
  }
  .Icons_list{
    margin: 10px 0px;
    font-size: 100px;
    justify-content: center;
  }
  .Skill_name{
    margin-top: 10px !important;
    text-align: center;
  }

   /*Project*/

   .Container-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
   }
   .Card_pj{
    margin: 10px 15px;
    justify-content: center;
    max-width: 400px;
    background-color: var(--card-bf) !important;
    color: var(--card-text) !important;
  }
  .Title_card{
    text-align: center;
  }
  .Card_img{
    height: 205px;
  }
  .Text_descrit_card{
    font-size: 10px;
    white-space: pre-wrap;
  }
  .Div_span_card{
    display: flex;
    justify-content:center;
    gap: 15px;
  }

  .Span_card{
    font-size: 10px;
    border-radius: 10px;
    background-color: var(--span-bg);
    color:var(--span-text);
    padding: 1px 10px;
  }
  
  .Div_btn_card{
    margin-top: 10px;
    display: flex;
    justify-content:center;
    gap: 15px;
  }

  .Btn_card{
    background-color: var(--btn-card) !important;
    color: var(--btn-text-btn) !important;
    border:none !important;
    font-size: small !important;
  }
  /* Línea central del timeline */
  .timeline:before {
    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    height: 100%;
    width: 2px;
    background-color: var(--time_line-bg);
  }

    /* Estilo general del timeline */
  .timeline {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
  }

  .timeline-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .timeline-icon {
    width: 22px;
    height: 22px;
    background-color: var(--dots-time_line); /* Cambiar color según diseño */
    transform: rotate(44deg);
    position: relative;
    z-index: 1;
    flex-shrink: 0;
  }

  
  .timeline-content {
    margin-left: 30px;
    padding: 10px 20px;
    background-color: var(--time_line_content);
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
  }

  .timeline-title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: var(--time_line-text);
  }

  .timeline span {
    font-size: 14px;
    color: var(--time_line-text);
  }

  .timeline p {
    margin: 10px 0 0;
    font-size: 16px;
    color:var(--time_line-text);
  }
  .Profile-description{
    white-space: pre-wrap;
  }
  .Profile-list{
    color: var(--time_line-text);
  }
  

  
}







@media (max-width: 800px) {
  /* home, navbar*/
  
  .Navbarxd{
    align-items: center;
  }
  .button_ld{
    background-color: var(--bg-color);
    color: var(--text-color) !important;
    border: none !important;
    
  }
  .navbar-toggler{
    border-color: var(--navbar-off)!important;
    background-color: var(--border-color-toggle) !important;
  }
  
  .title_main{
    margin: auto;
    text-align: center ;
    margin-top: 200px;
    font-size: 40px;
  }
  .subtitle_main{
    margin: auto;
    text-align: center ;
    font-size: 35px;
    margin-top: -10px;
  }
  .list_icons_social_media{
    display: flex;
    justify-content: center;
    list-style: none;
    padding-inline: 10px;
    margin-top: 10px;
  }
  
  .Element_ul_li{
    padding-left: 10px;
    margin-right: 20px;
    font-size: 50px;
  }
  
  a, a:hover, a:visited, a:active {
    color: inherit ;
    text-decoration: none ;
    color: var(--text-color)!important;
  }
  /* About page */
  .Title_about{
    text-align: center ;
    margin-top: 50px;
  }

  .Text_about{
    text-align: center;
    margin-top: 30px;
    max-width: 600px;
    font-size: small;
  }
  
  /* Skills page */
  .Title_skill{
    text-align: center ;
    margin-top: 50px;
    font-size: 40px;
  }

  .Text_skill_description{
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    max-width: 600px;
    margin: auto;
  }

  .Lenguaje_title{
    text-align: center;
    margin-top: 20px;
  }

  .List_skills{
    margin-top: 50px !important;
    list-style-type: none; /* Quitar los puntos de la lista */
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    flex-direction: column;
  }
  .List_skillsli{
    margin: 0 10px;
  }
  .Icons_list{
    margin: 10px 0px;
    font-size: 100px;
    justify-content: center;
  }
  .Skill_name{
    margin-top: 10px !important;
    text-align: center;
    
  }
  /*Project*/
  /*Project*/

  .Container-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
   }
   .Card_pj{
    margin: 10px 15px;
    justify-content: center;
    max-width: 400px;
    background-color: var(--card-bf) !important;
    color: var(--card-text) !important;
  }
  .Title_card{
    text-align: center;
  }
  .Card_img{
    height: 205px;
  }
  .Text_descrit_card{
    font-size: 10px;
  }
  .Div_span_card{
    display: flex;
    justify-content:center;
    gap: 15px;
  }

  .Span_card{
    font-size: 10px;
    border-radius: 10px;
    background-color: var(--span-bg);
    color:var(--span-text);
    padding: 1px 10px;
  }
  
  .Div_btn_card{
    margin-top: 10px;
    display: flex;
    justify-content:center;
    gap: 15px;
  }

  .Btn_card{
    background-color: var(--btn-card) !important;
    color: var(--btn-text-btn) !important;
    border:none !important;
    font-size: small !important;
  }
  .timeline:before {
    content: '';
    position: absolute;
    top: 0;
    left: 30px;
    height: 100%;
    width: 2px;
    background-color: var(--time_line-bg);
  }
  /* Estilo general del timeline */
  .timeline {
    position: absolute;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 0;
  }

  .timeline-item {
    display: flex;
    margin-left: 20px;
    align-items: center;
    margin-bottom: 20px;
  }

  .timeline-icon {
    width: 22px;
    height: 22px;
    background-color: var(--dots-time_line); /* Cambiar color según diseño */
    transform: rotate(44deg);
    position: relative;
    z-index: 1;
    flex-shrink: 0;
  }

  
  .timeline-content {
    margin-left: 30px;
    padding: 10px 20px;
    background-color: var(--time_line_content);
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
  }
  .timeline-title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: var(--time_line-text);
  }

  .timeline span {
    font-size: 14px;
    color: var(--time_line-text);
  }

  .timeline p {
    margin: 10px 0 0;
    font-size: 16px;
    color:var(--time_line-text);
  }

    
  
    

}








